* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  background-color: gray;
  opacity: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 50px;
  color: black;
}

.input__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 10px;
}

.input__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: medium;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 50px;
  height: 100px;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

button {
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.start {
  background-color: green;
  color: white;
  font-size: small;
  font-weight: 200;
}

.stop {
  display: none;
  background-color: red;
  color: white;
  font-size: small;
  font-weight: 200;
}

.reset {
  background-color: blue;
  color: white;
  font-size: small;
  font-weight: 200;
}

.btn_group {
  display: flex;
  gap: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
